<div class="uniform">



<h1 class="gallery-header">Bio</h1>

<div>
  <p>With a degree in Industrial/Visual Design, I’ve worked over the years in publication and book design, magazine and book illustration, retail advertising, logo and product design, set design for theater and even a couple of student years as a floral designer.</p>

  <p>I presently work from a studio in Indianapolis where I continue with graphic design and illustration, as well as fine arts. I paint primarily in watercolor and acrylic, often using collage and hand-cut stamps in my projects. People have always been my favorite subject.</p>

  <p>My maternal grandmother was an artist who let me begin playing with oil paints when I was just two. My mom was horrified, but I treasure most the time spent painting with her throughout my childhood. My grandma taught me so much: a true smile starts with the eyes; there is rich color everywhere, even in the darkest shadows; draw something every day to keep observing as an artist, etc. When I was seven, I did a stilted painting of two spaniels standing under a tree, which she put in a very fine frame and hung in her dining room. It was thrilling!</p>

  <p>In my studio, which is lined with windows, Tillie can often be found lying in a sunbeam. The stories about her, posted in the Dogs blog, are mostly fictional. If she had had the opportunity to lead a heist at Starbucks, though, I have no doubt she would have gleefully done so. Mo suffers her antics with patience and resignation.</p>

  <p>One of the great things about painting is meeting fellow painters. In classes, workshops, arts organizations and galleries, all types of painters can be found and they are some of the best people I’ve met. Whether trading tips, borrowing and lending supplies, or witnessing their ingenuity, talent and inventiveness, these meetings are always a joy and a privilege.</p>
</div>
</div>
