<h1 class="gallery-header" style="margin: 75 0 0 100">Contact</h1>
<div class="contact">
  <h5>Marcia Mattingly Reller</h5>
  <h5>studio: 317/257-4597</h5>
  <h5>cell: 317/408-3708</h5>
  <h5>Send email:</h5>
</div>

<form action="https://formspree.io/mreller1@att.net" method="POST">
  <div class="col-md-4">
     <div class="form-group">
         <input type="text" class="form-control" placeholder="Your Name *" id="name" required="" data-validation-required-message="Please enter your name." name="name">
         <p class="help-block text-danger"></p>
     </div>
     <div class="form-group">
         <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." name="_replyto">
         <p class="help-block text-danger"></p>
     </div>
     <div class="form-group">
         <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required="" data-validation-required-message="Please enter your phone number." name="phone">
         <p class="help-block text-danger"></p>
     </div>
 </div>
 <div class="col-md-4">
     <div class="form-group">
         <textarea class="form-control" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message." name="message"></textarea>
         <p class="help-block text-danger"></p>
     </div>
 </div>
 <div class="col-md-4 text-center">
          <button type="submit" class="btn send-btn">Send</button>
  </div>

</form>
