<div class="uniform">
  <h1 class="gallery-header">Artwork</h1>
    <div class="container">
      <div class="col-md-4">
        <div class="ih-item square effect3 bottom_to_top"><a href="#/acrylic-collage">
          <div class="img"><img src="artwork/ac/leafstudyochreteal.jpg" alt="img"></div>
          <div class="info">
            <h3>Acrylic and Collage</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ih-item square effect3 bottom_to_top"><a href="#/illustration">
          <div class="img"><img src="artwork/illustration/PizzaCat-800x614.jpg" alt="img"></div>
          <div class="info">
            <h3>Illustrations</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ih-item square effect3 bottom_to_top"><a href="#/italian">
          <div class="img"><img src="artwork/italian/siena-stile.jpg" alt="img"></div>
          <div class="info">
            <h3>Italian Series</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ih-item square effect3 bottom_to_top"><a href="#/portraits">
          <div class="img"><img  src="artwork/portraits/nigel-lenten-rose.jpg" alt="img"></div>
          <div class="info">
            <h3>Portraits</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ih-item square effect3 bottom_to_top"><a href="#/watercolor">
          <div class="img"><img  src="artwork/watercolor/in-two.jpg" alt="img"></div>
          <div class="info">
            <h3>Watercolor</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-4 paintings">
        <p class="quote">"At its best, art leads us towards places we might not have thought to visit"</p>
        <p class="quote2">- M. Kimmelman, New York Times</p>
      </div>
    </div>
</div>
