<div class="uniform">
<h1 class="gallery-header">Illustrations</h1>
<p>
  "Abstract, non-representational and collage work, in various combinations of watercolor, acrylic, ink, graphite and collage."
</p>
</div>
<div class="container">
    <div class="col-sm-4" ng-repeat="artwork in artworks | filter: {medium: 'illustration'}">
      <a class="paintings" ng-href="{{artwork.thumb}}"  data-lightbox="{{artwork.thumb}}" data-title="{{artwork.description}}"><img ng-src="{{artwork.thumb}}" /></a>
      <h3 class="titles">{{artwork.name}}</h3>
    </div>
</div>
