body {
  background: url(../artwork/ac/lettersmoon.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
